{% extends "base.html" %}
{% block start %}
<div class="container mt-3 pt-3 pb-3" >

    <div class="col-10 mx-auto card shadow p-4 " style="border:none">
        <div class="text-center">
            {% load static %}
            <img height="140" src="{% static 'Stayvia.png' %}">
        <h2>StayVia</h2>
        <h5>The Hotel Booking App</h5>
        </div>

        <p>Its the underdelopment Django Python Project.bw hjwbh ahbrga baa khbga b jrj ja rk erkkjgn  nskh n kn dgkn nm kn xnkn sknd knh bkn n </p>
    </div>
</div>
{% endblock %}