<!--otp_auth.html-->
{% extends "base.html" %}

{% block start %}


<div class="container mt-5 pt-5 pb-5">

    <div class="col-6 mx-auto card shadow p-4" style="border:none">
        <form>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">OTP</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-info text-white">Submit</button>
          </form>
    </div>

    </div>


{% endblock %}