<!-- accounts/templates/verify_otp.html-->

{% extends "base.html" %}

{% block start %}



<div class="container mt-5 pt-5 pb-5">

  <div class="col-6 mx-auto card shadow p-4" style="border:none">
      <form method="POST">
        {% include "alerts.html" %}
        {% csrf_token %}


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">OTP</label>
            <input type="text" name="otp" class="form-control" id="exampleInputPassword1">
          </div>

          <button type="submit" class="btn btn-info text-white">Submit</button>

        </form>
  </div>
  </div>

  <script>

    function sendOtp(){
      var email = document.getElementById('email').value
      if(email == ""){
        alert("Email Cannot be blank")
      }

      window.location.href = `/account/send_otp/${email}/`

    }


</script>


{% endblock %}